#agr {
  width: 1000px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contagregar {
  display: flexbox;
}
.guardar {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(61, 233, 233);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
input {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  text-align: center;
}
